@import '../../variables.scss';

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: $white;
    font-size: 14px;
    z-index: 999;
    transition: all 0.35s;

    .header-container {
        margin: 0 auto;
        padding: 0 3px 0 15px;
        width: 100%;
        max-width: 1170px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 767px) {
            padding-right: 0;
        }

        @media (max-width: 991px) {
            max-width: 750px;
        }

        @media (max-width: 1199px) {
            max-width: 970px;
        }

        & .header-logo {
            & a {
                display: flex;
                align-items: center;
                color: $white;
                text-transform: uppercase;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

                & img {
                    height: 50px;
                    margin-right: 20px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        & .header-links-container {
            
            & .header-links {
                & a {
                    color: $yellow;
                    margin-right: 25px;
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
                    &:hover {
                        color: $white;
                        text-decoration: underline;
                    }
                }
    
                & a:nth-child(3) {
                    margin-right: 10px;
                }
            }

            @media (max-width: 1025px) {
                width: 200px;
                height: 100%;
                background-color: #2b2b2b;
                position: fixed;
                top: 0;
                right: -300px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition:  right .8s cubic-bezier(1, 0, 0, 1);
                z-index: 4;

                & .hamburger-menu {
                    width: 35px;
                    height: 30px;
                    position: fixed;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    & .line {
                        width: 80%;
                        height: 3px;
                        background-color: $yellow;
                        transition: all 0.8s;
                        font-size: 1.17em;
                    }
                }

                & .header-links {
                    display: flex;
                    flex-direction: column;

                    & a {
                        margin-bottom: 20px;
                        font-size: 16px;
                    }
                }
            }
        }

        & .change {
            & .line-1 {
                transform: rotateZ(-405deg) translate(-8px, 6px);
                background-color: #fff;
            }
            & .line-2 {
                opacity: 0;
            }
            & .line-3 {
                transform: rotateZ(405deg) translate(-8px, -6px);
                background-color: #fff;
            }
        }

        & .change {
            right: 0;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1170px;
        border-bottom: 1px solid $white;
        transition: all 0.35s;

        @media (max-width: 991px) {
            max-width: 750px;
        }

        @media (max-width: 1199px) {
            max-width: 970px;
        }
    }
}

.header-color {
    background-color: $black;
}

#header.header-color::after {
    max-width: 100%;
}

