@import '../../../variables.scss';

#two-ebs {
    background-color: $black;
    color: $white;

    & .two-ebs-container {
        margin: 0 auto;
        padding: 0 15px;

        @media (min-width: 768px) {
            width: 750px;
        }

        @media (min-width: 992px) {
            width: 970px;
        }

        @media (min-width: 1200px) {
            width: 1170px;
        }

        & .two-ebs-content {
            display: flex;
            padding: 60px 0;
            border-bottom: 1px solid $white;
            justify-content: space-between;
            // align-items: center;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

            & h1 {
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            }

            & .two-ebs-about {

                & .about-inner {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    font-size: 20px;

                    & svg {
                        margin-right: 10px;
                        fill: $yellow;
                    }
                }

                & a {
                    margin-left: 25px;
                    color: $black;
                    border-radius: 5px;
                    padding: 5px 20px;
                    font-size: 14px;
                    font-weight: bold;
                    transition: all 0.2s;
                    border: 1px solid $black;
                    background-color: $yellow;
                }

                & .about-inner-text {
                    padding-left: 25px;
                    padding-bottom: 20px;
                }
            }

            & .two-ebs-benefits {
                padding-right: 40px;

                & .benefits-inner {
                    display: flex;
                    margin-bottom: 30px;

                    & svg {
                        margin-right: 10px;
                        fill: $yellow;
                    }
                }
            }

            & .two-ebs-checkin {
                padding-right: 40px;

                & .checkin-inner {
                    display: flex;
                    margin-bottom: 30px;

                    & svg {
                        margin-right: 10px;
                        fill: $yellow;
                    }
                }

                & a {
                    margin-left: 25px;
                    color: $black;
                    border-radius: 5px;
                    padding: 5px 20px;
                    font-size: 14px;
                    font-weight: bold;
                    transition: all 0.2s;
                    border: 1px solid $black;
                    background-color: $yellow;
                }
            }

        }

        & .two-ebs-content-pu {
            padding: 60px 0;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

            & .two-ebs-pu-title {
                display: flex;
                font-size: 30px;
                align-items: center;
                padding-bottom: 50px;
                
                & svg {
                    margin-right: 20px;
                    fill: $yellow;
                }

                & h1 {
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.2;
                }
            }

            & .two-ebs-pu-container {
                display: flex;

                & .two-ebs-pu {
                    flex: 0 1 300px;
                    margin: 0 15px;

                    & .pu-inner {
                        display: flex;
                        align-items: flex-end;
                        padding-bottom: 20px;
                        line-height: 1.2;
                        border-bottom: 1px solid $white;
                        height: 66px;
                        margin-bottom: 15px;

                        & h5 {
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }

                    & p {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}