@import '../../../variables.scss';

#four-ps {
    background-color: $black;
    color: $white;
    padding: 60px 0;
    padding-bottom: 20px;

    .four-ps-container {
        margin: 0 auto;
        padding: 0 15px;

        @media (min-width: 768px) {
            width: 750px;
        }
    
        @media (min-width: 992px) {
            width: 970px;
        }
    
        @media (min-width: 1200px) {
            width: 1170px;
        }

        & h1 {
            color: $yellow;
            margin-bottom: 40px;
            font-size: 40px;
            text-transform: uppercase;
            font-family: 'monument_bold';
        }

        & .four-ps-card-container {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 60px;

            & .four-ps-card-wrapper {
                flex: 0 0 50%;
                padding: 8px;

                & .four-ps-card {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 270px;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    transition: filter 0.25s;
                    overflow: hidden;
                    z-index: 0;
                    color: $white;
                    font-size: 25px;
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    text-shadow: 0 0 5px rgb(0 0 0 / 65%);

                    & img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        z-index: -1;
                        filter: brightness(50%);
                        transition: all 0.2s;
                    }

                    &:hover img {
                        filter: brightness(65%);
                        transform: translate(-50%, -50%) scale(1.05);
                    }
                }
            }

            @media (max-width: 1025px) {
                flex-direction: column;
            }
        }
    }
}